<% provide(:title, 'Write Article') %>
<h2>Create Article</h2>
<div class="row">
  <div id='article-div' class="col-md-6 col-md-offset-3">
    <%= form_with(model: @article, local: true) do |f| %>
      <div class="">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div>
        <%= f.label :text %>
        <%= f.text_area :text %>
      </div>
      <div>
        <%= f.label :image %>
        <%= f.file_field :image %>
      </div>
      <%= f.fields_for :categories do |ff| %>
        <div>
          <%= ff.label :name %>
          <%= ff.text_field :name %>
        </div>
        <div>
          <%= ff.label :priority %>
          <%= ff.text_field :priority %>
        </div>
      <% end %>
      <%= f.submit 'Save', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
