<%= image_tag @article.secondary_thumbnail if @article.image.attached? %>
<div class='mt-3'>
  <%= @article.text %>
</div>
<div class="form-row text-center mt-3">
  <div class="col-12">
    <%= form_tag article_votes_path(@article.id), method: :post do %>
      <%= hidden_field_tag :article_id, current_user.id %>
      <%= submit_tag "Vote", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<br><%= @article.total_votes %> votes
</div>
