<h2 class="text-center text-primary">Register</h2>
<div class="d-flex justify-content-center">
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages' %>
      <div class="form-group">
        <%= label_tag :name, nil, class: 'col col-form-label' %>
        <div class="col">
          <%= text_field_tag :name, nil, class: 'form-control' %>
        </div>
      </div>
      <div class="form-row text-center">
        <div class="col-12">
          <%= submit_tag "Register", class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
