<h2 class="text-center text-primary">Register</h2>
<div id='form-registration' class="d-flex justify-content-center">
  <%= form_with(model: @user, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
      <%= f.label :name, class: 'col col-form-label' %>
      <div class="col">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class="form-row text-center">
      <div class="col-12">
        <%= f.submit "Register", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
  </div>
</div>
