<% if session[:name] %>
  <div class="container">
    <header class="d-flex justify-content-between">
      <ul class="nav justify-content-center">
        <li class="nav-item pr-3"><%= link_to 'Home', articles_path %></li>
        <li class="nav-item pr-3"><%= link_to 'Write Article', new_article_path %></li>
      </ul>
      <ul class="nav justify-content-end">
        <% if session[:name] %>
          <li class="nav-item pl-3"><%= link_to 'Logout', logout_path %></li>
        <% else %>
          <li id='logout-link' class="nav-item"><%= link_to 'LOGIN', login_path %></li>
          <li class="nav-item"><%= link_to 'REGISTER', register_path %></li>
        <% end %>
      </ul>
    </header>
  </div>
<% end %>
