<nav id='navbar-header' class="nav pl-3 pr-3">
  <%= link_to 'BOOKCRAZE', class: 'logo' %>
  <div class="menu">
    <div class="menu-item">
      <%= link_to 'Home', articles_path %>
    </div>
    <% if session[:name] %>
      <div class="menu-item">
        <%= link_to 'Write Article', new_article_path %>
      </div>
      <div class='menu-item'>
        <%= category_navbar(categories_nav) %>%
      </div>
    <% else %>
    <% end %>
  </div>
  <% if session[:name] %>
    <li class="nav-item"><%= current_user.name %></li>
    <li class="nav-item pl-3"><%= link_to 'Logout', logout_path %></li>
  <% else %>
    <li id='logout-link' class="nav-item"><%= link_to 'Login ', login_path %>|</li>
    <li class="nav-item"><%= link_to ' Register', new_user_path %></li>
  <% end %>
</nav>