<!DOCTYPE html>
<html>
  <head>
    <title>Lifestyle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <meta property="og:image" content="<%= image_url('index.png') %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="body">
    <div class='main'>
      <%= render 'shared/navbar' %>
      <%= notice_helper %>
      <%= alert_helper %>
      <div id='content'>
        <%= yield %>
      </div>
      <div id='footer' class='d-flex justify-content-center'>
        <%= render 'shared/footer' %>
      </div>
    </div>
  </body>
</html>
