<!DOCTYPE html>
<html>
  <head>
    <title>Lifestyle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <main class='main'>
      <% if notice.present? %>
        <div class="notice">
          <p> <%= notice %> </p>
        </div>
      <% end %>
      <% if alert.present? %>
        <div class="alert">
          <p> <%= alert %> </p>
        </div>
      <% end %>
      <div id='content'>
        <%= yield %>
      </div>
    </main>
    <footer id="footer">
      <%= render 'shared/footer.html.erb' %>
    </footer>
  </body>
</html>
